1. Read file bank-data.csv
2. Build a set of unique jobs
3. Read the input from command line â€“profession
4. Check if profession is in list
5. Print whether client is eligible

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('bank-data.csv')   # 1. Reading file bank-data.csv

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 0 to 446
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      447 non-null    int64
 1   job      447 non-null    object
 2   marital  447 non-null    object
 3   y        447 non-null    object
dtypes: int64(1), object(3)
memory usage: 14.1+ KB

In [4]:
df.head(10)

   age          job   marital    y
0   20      student    single  yes
1   32   management    single  yes
2   49   technician   married  yes
3   32  blue-collar   married  yes
4   33   management   married  yes
5   61       admin.   married  yes
6   45  blue-collar  divorced  yes
7   34   technician   married  yes
8   37   management   married  yes
9   27       admin.  divorced  yes

In [5]:
Uniq_jobs = set(df['job'])        # 2. Building a set of unique jobs

In [6]:
Uniq_jobs

{'admin.',
 'blue-collar',
 'entrepreneur',
 'housemaid',
 'management',
 'self-employed',
 'services',
 'student',
 'technician'}

In [7]:
jobs = list(Uniq_jobs)

In [8]:
jobs

['technician',
 'services',
 'management',
 'housemaid',
 'self-employed',
 'blue-collar',
 'admin.',
 'entrepreneur',
 'student']

In [9]:
a = input("Enter the profession of Client: ")         # 3. Reading the input from command line â€“profession
if a in jobs:                                        # 4. Checking if profession is in list
  print("Client is eligible")                        # 5. Printing whether client is eligible
else:
  print("Client is not eligible, Tyr again later.")

Enter the profession of Client: management
Client is eligible

Enhancements for code

You can try these enhancements in code
1. Compute max and min age for loan eligibility based on data in csv file
2. Store max and min age in dictionary
3. Make the profession check case insensitive
4. Currently program ends after the check. Take the input in while loop and end only if user types "END" for profession

In [10]:
df['age'].describe()

count    447.000000
mean      39.413870
std       10.038539
min       19.000000
25%       32.000000
50%       37.000000
75%       47.000000
max       80.000000
Name: age, dtype: float64

## 1. Computing max and min age for loan eligibility based on data in csv file

In [11]:
df['age'].min()

19

In [12]:
df['age'].max()

80

## 2. Store max and min age in dictionary

In [13]:
ages = {'Min_age':df['age'].min(), 'Max_age':df['age'].max()}
ages

{'Max_age': 80, 'Min_age': 19}

## 3. Making the profession check case insensitive

In [16]:
a = input("Enter the profession of Client: ")  
a = a.lower()
if a in jobs:                                      
  print("Client is eligible")   
else:
  print("Client is not eligible, Tyr again later.")

Enter the profession of Client: Student
Client is eligible

## 4. Currently program ends after the check. Take the input in while loop and end only if user types "END" for profession

In [21]:
while True:
  a = input("Enter the profession of Client: ")  
  a = a.lower()
  if a == 'end':
    break
  elif a in jobs:                                      
    print("Client is eligible")   
  else:
    print("Client is not eligible, Tyr again later.")

Enter the profession of Client: Student
Client is eligible
Enter the profession of Client: teacher
Client is not eligible, Tyr again later.
Enter the profession of Client: END